.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid  rgb(133, 12, 53);
  padding: 30px;
  border-radius: 5px;
  font-family: system-ui;
}


.header{
  padding: 10px;
}