.field{
  width: 250px;
  padding-bottom: 20px;
}

.colour-border{
  border: 5px solid  rgb(133, 12, 53);
  padding: 30px;
  border-radius: 5px;
  font-family: system-ui;
}


.header{
  padding: 10px;
}

.header-field{
  font-weight: bold;
  text-align: center;
  font-family: system-ui;
}
